@font-face {
    font-family: raleway;
    src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
    font-family: raleway-medium;
    src: url(../fonts/raleway/raleway-medium.ttf);
}

@font-face {
    font-family: raleway-semibold;
    src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
    font-family: raleway-extrabold;
    src: url(../fonts/raleway/raleway-extrabold.ttf);
}

@font-face {
    font-family: monserrat;
    src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
    font-family: monserrat-light;
    src: url(../fonts/montserrat/montserrat-light.ttf);
}

body {
    margin: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header {
    padding: 40px 325px 40px 325px;
    background-color: #555556;
    background-image: url("../img/header-bg.jpg");
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

.link-logo {
    margin: 0 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-decoration: none;
}

.link-logo-svg {
    fill: #fff;
}

.link-logo-txt {
    color: #fff;
    font-size: 34px;
    font-family: raleway, sans-serif;
}

.link-logo:hover .link-logo-svg {
    fill: #c7b299;
}

.link-logo:hover .link-logo-txt {
    color: #c7b299;
}

.link-logo:active .link-logo-svg {
    fill: #fff;
}

.link-logo:active .link-logo-txt {
    color: #fff;
}

.menu {
    margin: 0;
    list-style-type: none;
}

.menu-list {
    display: inline-block;
}

.menu-list-link {
    text-decoration: none;
    display: block;
    padding: 20px 15px;
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 14px;
    font-weight: 300;
}

.menu-list-link:hover {
    color: #c7b299;
}

.menu-list-link:active {
    color: #ffffff;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 70px;
}

.menu-cart {
    display: block;
    width: 18px;
    height: 24px;
    margin: 15px;
    fill: #fff;
    outline: none;
    border: none;
    background-color: transparent;
}

.menu-cart:hover {
    fill: #c7b299;
}

.menu-cart:active {
    fill: #fff;
}

input[type="search"] {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url('../img/icon-search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 15px 0 0 15px;
}

input[type="search"]:hover {
    filter: brightness(60%);
}

input[type="search"]:focus {
    width: 150px;
    transition: width 1s ease-out;
    background-position: right;
    background-color: white;
}

.left-arrow {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    left: -212px;
    fill: #a5a4a2;
}

.left-arrow:hover {
    fill: #c7b299;
}

.left-arrow:active {
    fill: #a5a4a2;
}

.header-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 285px 0 320px 0;
    position: relative;
}

.header-slider-wrapper {
    text-align: center;
}

.header-slider-title {
    color: #ffffff;
    font-family: raleway-medium;
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
    margin: 0 0 15px 0;
}

.header-slider-title-bold {
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 52px;
    font-weight: 800;
    line-height: 50px;
    margin: 0 0 15px 0;
}

.header-slider-txt {
    display: block;
    width: 562px;
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 50px 0;
}

.btn-get-started {
    display: flex;
    margin: 0 auto;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
}

.btn-get-started:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.btn-get-started:active {
    background-color: #998675;
}

.btn-get-started:hover .btn-get-started-txt {
    color: #ccc;
}

.btn-get-started:active .btn-get-started-txt {
    color: #fff;
}

.btn-get-started-txt {
    margin: auto;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
}

.right-arrow {
    display: block;
    width: 40px;
    height: 73px;
    position: absolute;
    left: 1346px;
    fill: #a5a4a2;
}

.right-arrow:hover {
    fill: #c7b299;
}

.right-arrow:active {
    fill: #a5a4a2;
}

.pagination {
    position: absolute;
    top: 590px;
    display: flex;
    justify-content: center;
}

.pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-link:hover {
    border: 2px solid #ccc;
    background-color: transparent;
}

.pagination-link:active {
    border: 2px solid transparent;
    background-color: #ccc;
}

.service {
    padding: 40px 375px 40px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    color: #555555;
    background-color: #fff;
}

.service-web {
    width: 270px;
    justify-content: center;
    text-align: center;
}

.service-web:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: transparent;
    margin: 0 auto;
}

.service-web:hover .service-web-icon {
    fill: #c7b299;
}

.service-web:hover .service-web-title {
    color: #c7b299;
}

.service-web:hover:after {
    background-color: #c7b299;
}

.service-web-icon {
    display: block;
    fill: #555555;
    margin: 30px auto;
}

.service-web-title {
    margin: 30px 0 20px 0;
    width: 100%;
    font-family: raleway-semibold;
    font-size: 22px;
}

.service-web-txt {
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 20px 0;
}

.ideas {
    padding: 80px 375px 0 375px;
    text-align: center;
    background-color: #fbfaf8;
}

.ideas-wrp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    margin-top: 80px;
}

.ideas-img-center {
    position: absolute;
    top: -80px;
}

.ideas-title {
    text-align: center;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    margin: 0 0 24px 0;
    width: 100%;
}

.ideas-txt {
    display: block;
    width: 760px;
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.ideas-img-center {
    display: block;
    margin: auto;
    width: 770px;
    height: 482px;
    transition: transform 800ms ease, border-radius 800ms ease;
}

.ideas-img-center:hover {
    border-radius: 25px;
    width: 770px;
    height: 482px;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
}

.word-press {
    padding: 50px 375px 50px 375px;
    background-color: #241d1a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.word-press-title {
    color: #ffffff;
    font-family: raleway;
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.word-press-title-waxom {
    color: #c7b299;
}

.word-press-txt {
    color: #615855;
    font-family: monserrat-light;
    font-size: 18px;
    margin: 8px 0 0 0;
}

.btn-purchase-now {
    display: flex;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    border-bottom: 3px solid #736356;
}

.btn-purchase-now:hover {
    background-color: #736356;
    border-bottom: 3px solid #998675;
}

.btn-purchase-now:active {
    background-color: #998675;
}

.btn-purchase-now:hover .btn-get-started-txt {
    color: #ccc;
}

.btn-purchase-now:active .btn-get-started-txt {
    color: #fff;
}

.latest-projects {
    padding: 80px 375px 40px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-projects-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-project-menu {
    margin: 0 auto;
    padding-bottom: 40px;
}

.latest-project-list {
    list-style-type: none;
    display: inline-block;
}

.latest-projects-link {
    text-decoration: none;
    color: #8c8c8c;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    margin: auto;
    min-width: 70px;
    min-height: 32px;
}

.latest-projects-link:hover {
    border-radius: 3px;
    background-color: #998675;
    color: #fff;
}

.latest-projects-link:active {
    border-radius: 3px;
    background-color: #998675;
    color: #ccc;
}

.crumbs {
    margin: auto;
    padding: 10px 22px;
}

.latest-project-item {
    width: 370px;
    margin-bottom: 30px;
    position: relative;
}

.latest-project-item:hover .latest-project-photo {
    filter: brightness(35%);
}

.latest-project-item:hover .item-wrp {
    background-color: #362f2d;
    fill: #fff;
}

.latest-project-item:hover .item-wrp:before {
    border-bottom: 10px solid #362f2d;
}

.latest-project-item:hover .item-title {
    color: #fff;
}

.latest-project-item:hover .item-txt {
    color: #c7b299;
}

.latest-project-photo {
    display: block;
    width: 100%;
}

.item-wrp {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
}

.item-wrp:before {
    content: "";
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -25px;
    left: 19px;
}

.item-title {
    color: #c7b299;
    font-family: raleway-semibold;
    font-size: 20px;
    display: block;
    padding: 30px 0 0 30px;
}

.item-txt {
    color: #d1d1d1;
    font-family: monserrat-light;
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 15px 0 27px 30px;
}

.article-btn-link {
    display: none;
    position: absolute;
    left: 135px;
    top: 100px;
    fill: #fff;
}

.article-btn-search {
    display: none;
    position: absolute;
    left: 201px;
    top: 100px;
    fill: #fff;
}

.article-btn-link:hover {
    fill: #c7b299;
}

.article-btn-search:hover {
    fill: #c7b299;
}

.latest-project-item:hover .article-btn-link,
.latest-project-item:hover .article-btn-search {
    display: block;
}

.video-wrp {
    position: relative;
}

.video:hover {
    filter: brightness(35%);
}

.video-content {
    position: absolute;
    top: 224px;
    left: 701px;
}

.video-content:hover .video {
    filter: brightness(35%);
}

.video-btn {
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../img/circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.video-btn:hover {
    filter: brightness(50%);
}

.video-btn:active .video-content {
    display: none;
}

.video-btn-svg {
    fill: #fff;
}

.video-title {
    color: #ffffff;
    font-family: raleway-medium;
    font-size: 30px;
    display: block;
    text-align: center;
}

.video-txt {
    color: #ffffff;
    font-family: monserrat-light;
    font-size: 16px;
    line-height: 28px;
    display: block;
    width: 555px;
    text-align: center;
}

.video-time {
    color: #c7b299;
    font-family: monserrat;
    font-size: 14px;
    line-height: 24px;
    display: block;
    text-align: center;
}
